<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs" id="myTab">
        <div class="liner"></div>
                    
        <!-- circular user icon -->
        
        <li [ngClass]="(current_url=='/itemselector')||(current_url=='/address')?'green':''" >
            <a routerLink="/app-box-selector" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="app-box-selector">
                <span class="round-tabs one">
                </span>
                
            </a>
            <span class="bold-text">Step 1<br/>
            Choose your box color</span>
        </li>
        <li>
            <a routerLink="/itemselector" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="app-box-selector">
                <span class="round-tabs one">
                </span>
            </a>
            <span class="bold-text">Step 2<br/>
            Choose your item</span>
        </li>
        

        <!-- circular home icon -->
        <li>
            <a routerLink="/checkout" routerLinkActive="active" data-toggle="tab" title="address">
                <span class="round-tabs three">
                </span>
            </a>
        </li>

        <!-- circular ok icon -->
        <li>
            <a routerLink="/checkout" routerLinkActive="active" data-toggle="tab" title="completed">
                <span class="round-tabs four">
                </span>
            </a>
        </li>
                
    </ul>
    <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<!--<script src="assets/js/loading-bars.js"></script>-->