<div class="full-tab-container">
<div class="row">
	<p class="text-center titlehead">Step 2 Of 4</p>
	<h4 class="text-center subtitle">Choose Your Item</h4>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="main-box">
    	<div class="col-sm-8 medium-box">
    		<div class="col-sm-2 small-box">
    		{{formData.box}}
    		</div>
    		
    		 <div *ngFor="let item of itemData.item">
		    	<div class="col-sm-2 small-box">
		         {{item.name}}
    			 <span class="button__badge">{{item.count}}</span>
    			 <input class="delete" type="button" value="X" (click)="remove_to_cart(item,'delete')"/>
		        </div>
		     </div>
    	</div>
    	<div class="col-sm-4">
    		<div class="semi-medium-box">
    		   <h4 class='semi-medium-heading'>Box Contents</h4>
			   <div class = "row">
			    	<div class="col-sm-2">{{formData.quantity}}</div>
					<div class="col-sm-7">{{formData.box}}</div>
					<div class="col-sm-3">${{formData.price}}</div>
			   </div>
			   <div *ngFor="let item of itemData.item">
					<div class = "row">
		    	 		<div class="col-sm-2">{{item.count}}</div>
		         		<div class="col-sm-7">{{item.name}}</div>
				 		<div class="col-sm-3">${{item.price}}</div>
		     		</div>
			   </div>
    	</div>
    	<div class="total-box">
    		     <span class="box_subtotal">Box Subtotal:${{total}}</span>
    		     <button class="black_button">COMPLETE BOX</button>
    	</div>
    </div>
  </div>
</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<select class="selectpicker" data-live-search="true">
		  <option data-tokens="ketchup mustard">Sort By Category</option>
		</select>
	</div>
	<div class="col-sm-6">
		<select class="selectpicker" data-live-search="true">
		  <option data-tokens="ketchup mustard">Sort  By Price</option>
		</select>
	</div>
</div>
<div class="row">
	<div *ngFor="let itemsingle of items" class="col-sm-3 custom-col"> 
		<div class="item-box">
			<button class="add-box"  *ngIf="!itemsingle.selected"  (click)="add_to_cart(itemsingle)">
				Add to box
			</button>
			<div class="add-box" *ngIf="itemsingle.selected">
				<button (click)="remove_to_cart(itemsingle)" class="minus" [disabled]="itemsingle.count == 1">-</button>
				 <span class="count">{{itemsingle.count}}</span>
				<button (click)="add_to_cart(itemsingle)" class="plus">+</button>	
			</div>
		</div>	
		<div class="item-text">
			<h3>Item Name : {{itemsingle.name}}</h3>
			<h4>Category</h4>
			<p>Price : {{itemsingle.price}}</p>
		</div>
	</div>

</div>
<hr/>