<div class="full-tab-container">
<div class="row">
	<h3 class="text-center">Step 2 Of 3</h3>
	<h2 class="text-center">Choose Your Item</h2>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="main-box">
    	<div class="col-sm-8 medium-box">
    		<div class="col-sm-2 small-box">
    		{{formData.box}}
    		</div>
    	</div>
    	<div class="col-sm-4">
    		<div class="semi-medium-box">
    		    {{formData.quantity}}
    			{{formData.box}}
    			{{formData.price}}
    		</div>
    		<div class="total-box">
    		</div>
    		{{itemselector.item}}
    	</div>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-sm-6">
		<select class="selectpicker" data-live-search="true">
		  <option data-tokens="ketchup mustard">Sort By Category</option>
		</select>
	</div>
	<div class="col-sm-6">
		<select class="selectpicker" data-live-search="true">
		  <option data-tokens="ketchup mustard">Sort  By Price</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col-sm-3 custom-col">
		<div class="item-box">
			<button class="btn add-box" (click)="add_to_cart('item_1')">
				Add to box
			</button>
		</div>	
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>
	</div>
	<div class="col-sm-3 custom-col">
		<div class="item-box">
			<button class="btn add-box" (click)="add_to_cart('item_2')">
				Add to box
			</button>
		</div>
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>	
	</div>
	<div class="col-sm-3 custom-col">
		<div class="item-box">
			<button class="btn add-box" (click)="add_to_cart('item_3')">
				Add to box
			</button>
		</div>
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>	
	</div>
	<div class="col-sm-3 custom-col">
		<div class="item-box">
			<button class="btn add-box" (click)="add_to_cart('item_4')">
				Add to box
			</button>
		</div>
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-sm-3 custom-col">
		<div class="item-box">
		</div>	
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>
	</div>
	<div class="col-sm-3 custom-col">
		<div class="item-box">
		</div>	
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>
	</div>
	<div class="col-sm-3 custom-col">
		<div class="item-box">
		</div>	
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>
	</div>
	<div class="col-sm-3 custom-col">
		<div class="item-box">
		</div>
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-sm-3 custom-col">
		<div class="item-box">
		</div>	
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>
	</div>
	<div class="col-sm-3 custom-col">
		<div class="item-box">
		</div>	
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>
	</div>
	<div class="col-sm-3 custom-col">
		<div class="item-box">
		</div>
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>	
	</div>
	<div class="col-sm-3 custom-col">
		<div class="item-box">
		</div>	
		<div class="item-text">
			<h3>Item Name</h3>
			<h4>Category</h4>
			<p>Price</p>
		</div>
	</div>
</div>
</div>
<hr/>